.hero-bg{
    background-image: url("./Assets/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 650px;
    background-position: bottom;
}
.hero{

    h3{
        font-size: 18px;
        font-weight: 600;
    }
    .hero-line{
        font-size: 60px;
        font-weight: 900;
        line-height: 1.4;
    }
    .custom{
        color: orange;
    }
}
.section{
    h1{
        color: #171717;
        font-size: 50px;
        font-weight: 900;
        text-transform: uppercase;
        .custom{
            color: #b90000;
        }
    }
    hr{
        width: 150px;
        height: 6px;
        border-radius: 10px;
        background: #b90000;
    }
    .section-item{
        .item{
            a{
                color: #373737;
                font-size: 18px;
                font-weight: 600;
                text-decoration: none !important;
                p{
                    color: #373737;
                    font-size: 18px;
                    font-weight: 600;
                    margin:  6px 0px;
                    text-align: left;
                    text-decoration: none !important;
                }
            }
            &:hover{
                img{
                    opacity: 0.8;
                }
            }
            p{
                color: #373737;
                font-size: 18px;
                font-weight: 600;
                margin:  6px 0px;
                text-align: left;
                text-decoration: none;
            }
            .item-price{
                display: flex;
                gap: 20px;
            }
            .item-price-new{
                color: #373737;
                font-size: 18px;
                font-weight: 600;
            }
            .item-price-old{
                color: #8c8c8c;
                font-size: 18px;
                text-decoration: line-through;
                font-weight: 500;
            }
        
        }
    }
    
}
a{
    text-decoration: none !important;
}